
# Node & frontend
node_modules/


# Local env files
.env                # Root .env
Backend/.env        # Backend .env (if you keep one there)

# Python virtual environment
Backend/venv/          # Root venv folder

# VS Code settings
.vscode/*
!.vscode/extensions.json

